<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/nyjbasic.html}">

<head>
    <title>예산 목록 수정</title>
    <link rel="stylesheet" href="/css/budget/budgetModify.css">
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    예산 목록 수정
                </div>
                <div class="card-body">
                    <form action="/budget/budgetModify" method="post" id="f1">
                        <input type="hidden" name="userNo" th:value="${users}">
                        <input type="hidden" name="budCategory" th:value="${budgetDTO.budCategory}">
                        <input type="hidden" name="budgetId" th:value="${budgetDTO.budgetId}"/>
                        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group mb-3">
                            <span class="input-group-text">월</span>
                            <input type="text" th:value="${#temporals.year(#temporals.createNow()) + ' ' + #temporals.month(#temporals.createNow()) +'월'}" class="form-control" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">카테고리 선택</span>
                            <select name="budCategory" class="form-select" disabled>
                                <option th:each="cat : ${categories}"
                                        th:value="${cat.catId}"
                                        th:text="${cat.catName}"
                                        th:selected="${cat.catId == budgetDTO.budCategory}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">설정 금액</span>
                            <input type="number" name="budAmount" class="form-control" placeholder="금액입력" th:value="${budgetDTO.budAmount}">
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="budNotice" name="budNotice" value="true">
                            <label class="form-check-label" for="budNotice">
                                예산 초과 시 알림 받기
                            </label>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary modifyBtn">수정 완료</button>
                                <button type="button" class="btn btn-danger clearBtn">삭제</button>
                                <button type="button" class="btn btn-secondary listBtn">List</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">

    const auth = [[${#authentication}]]

    const link = [[${pageRequestDTO.getLink()}]]
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }
    document.querySelector(".listBtn").addEventListener("click",function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location=`/budget/currentList?${link}`
    })

    const formObj = document.querySelector("#f1")

    document.querySelector(".clearBtn").addEventListener("click",function (e){
        e.preventDefault()
        e.stopPropagation()
        formObj.action='/budget/budgetRemove'
        formObj.method='post'
        formObj.submit()
    },false)

</script>
