<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/nyjbasic.html}">
<head>
    <title>이번 달 예산 목록</title>
    <link rel="stylesheet" href="/css/budget/currentList.css">
</head>
<div layout:fragment="content">
    <!--  <h1>Board List</h1>-->
    <div class="row mt-3">
        <form action="/budget/currentList" method="get">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header fs-3 fw-bold py-3"><th:block th:text="${#temporals.year(#temporals.createNow()) + '년 '+ #temporals.month(#temporals.createNow())+'월 예산'}"></th:block></div>
                <div class="card-body p-5">
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <span>예산 설정 금액</span>
                            <strong th:text="${T(java.lang.String).format('%,d', sumBudgets)} + ' 원'"></strong>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>예산 사용 금액</span>
                            <strong th:text="${T(java.lang.String).format('%,d', sumUses)} + ' 원'"></strong>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>남은 금액</span>
                            <strong th:text="${T(java.lang.String).format('%,d', sumBudgets - sumUses)} + ' 원'"></strong>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-5" >
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">카테고리</th>
                            <th scope="col">설정금액(원)</th>
                            <th scope="col">사용금액(원)</th>
                            <th scope="col">남은금액(원)</th>
                            <th scope="col">예산 초과 여부</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr th:each="b: ${response.dtoList}"
                                th:if="${b.budYear == #temporals.year(#temporals.createNow()) and b.budMonth == #temporals.month(#temporals.createNow())}"> <!--응답 페이지 안의 budgetDTO, 유저 정보 뽑기-->
                                <td>
                                    <span th:each="cat : ${categories}"
                                          th:if="${cat.catId} == ${b.budCategory}">
                                        <a th:href="|@{/budget/budgetRead(bno =${b.budgetId})}&${link}|" th:text="${cat.catName}"></a>
                                   </span>
                                </td>
                                <td th:text="${T(java.lang.String).format('%,d', b.budAmount)}"></td>
                                <td th:text="${T(java.lang.String).format('%,d', b.budCurrent)}"></td>
                                <td th:text="${T(java.lang.String).format('%,d', b.budAmount - b.budCurrent )}"></td>
                                <td>
                                    <span th:if="${b.budIsOver == true}" th:text="O"></span>
                                    <span th:if="${b.budIsOver == false}" th:text="X"></span>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                    <!-- ------------------------------------------------------------------- 목록 페이지 처리-->
                    <div class="d-flex justify-content-between align-items-center mt-3 ">
                        <!-- 왼쪽 버튼들 -->
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary goToReg" type="button">등록하기</button>
                            <button class="btn btn-secondary toAllList" type="button">전체 예산 보기</button>
                        </div>

                        <!-- 오른쪽 페이지네이션 -->
                        <ul class="pagination mb-0">
                            <li class="page-item" th:if="${response.prev}">
                                <a class="page-link" th:data-num="${response.start -1}">Previous</a>
                            </li>
                            <th:block th:each="i: ${#numbers.sequence(response.start, response.end)}">
                                <li th:class="${response.page == i} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${response.next}">
                                <a class="page-link" th:data-num="${response.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>
    <script layout:fragment="script" th:inline="javascript">
        console.log("script......")

        // document.querySelector(".pagination").addEventListener("click", function (e) {
        //     e.preventDefault()
        //     e.stopPropagation()
        //     const target = e.target
        //     if(target.tagName !== 'A') {
        //         return
        //     }
        //     const num = target.getAttribute("data-num")
        //     const formObj = document.querySelector("form")
        //     formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        //     formObj.submit();
        // },false)

        document.querySelector(".goToReg").addEventListener("click",function (e){
            e.preventDefault();
            e.stopPropagation();
            self.location = '/budget/budgetRegister';
        },false)

        document.querySelector(".toAllList").addEventListener("click",function (e){
            e.preventDefault();
            e.stopPropagation();
            self.location = '/budget/budgetList';
        })
    </script>
</html>
