<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Simple Sidebar - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link rel="stylesheet" href="/css/header.css"/>
</head>
<body>
<div class="d-flex" id="wrapper" style="background-color: #f8f9fa">
  <div id="page-content-wrapper" >
    <!-- Top navigation-->
    <div th:replace="~{fragments/nyjcommon :: header(active=${active})}"></div>
    <!-- Page content-->
    <div class="container" layout:fragment="content">
      <h1 class="mt-4">Simple Sidebar</h1>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
<th:block layout:fragment="script">

</th:block>
</body>
</html>