*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
li a{text-decoration: none; white-space: nowrap; color: black;}
li a:hover{text-decoration: underline;}

/* 헤더 */
.all{margin: 0 auto;}
.page-container{
    margin: 0 auto;
    width: 1400px;
    padding: 0 50px;
    background-color: rgb(248, 248, 248);
}
.header-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 50px;
    padding: 0 50px;
}
.logo{
    position: absolute;
    left: 50%;
}
.setting li{
    display: inline;
    margin: 0 10px;
}
.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    height: 80px;
}
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    font-size: 1.5em;
    height: 80px;
}
.contents li{
    display: inline;
}
.header-bottom-wrap{
    background-color: white;
    position:relative;
}
.hidebar-wrap{
    display: none;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 100%; /* header-bottom 바로 아래 ,, 위에서 header-bottom의 높이를 50으로 줬으므로 top:50px도 가능*/
    width: 100%; /*header-bottom-wrap과 가로 크기 같게*/
    z-index: 100;
    background-color: white /* 배경색 추가해서 가려지지 않게 */
}
.hidebar{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 200px;
    margin: 10px auto;
}
.hidebar li{margin-top: 5px;}
.assets{margin-left: 50px;}
.graph{margin-left: 30px;}
.etc{margin-right: 45px;}

.header-bottom-wrap:hover .hidebar-wrap{
    display: flex;
}
/* .page1 */
.page1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
    z-index: 1;
    padding-top: 50px;
}
.page1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 800px;
}
.remain{
    border: 1px solid #ccc;
    background-color: lightskyblue;
    width: 400px;
    height: 200px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.bank{font-size: 1.2em;}
.money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.money h1{font-size: 2em;}
.recent{
    width: 400px;
    height: 450px;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: repeat(9,50px);
    align-items: stretch;
    justify-content: stretch;
}
.recent-list{
    width: 400px;
    height: 450px;

    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}
.recent-list td{
    border: 1px solid gray;
    /* height: 50px; */
}
.recent-list th{
    border: 1px solid gray;
    /* height: 50px; */
}
/* 달력 */
.calendar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 840px;
    /* background-color: orange; */
    height: 800px;
}
.cal-header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellowgreen; */
}
.cal-header h1{
    font-size: 3em;
}
.cal-month{
    display: flex;
    flex-direction: row;
}
.cal-month p{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
}
/* 캘린더 버튼 */
.cal-month button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    font-size: 1.5rem;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cal-month button:hover {
    background-color: #dcdcdc;
    transform: scale(1.05);
    border-color: #999;
}
/* 달력 바디 */
.cal-body{
    display: grid;
    grid-template-columns: repeat(7,120px);
    grid-template-rows: 60px repeat(5,120px);
    border: 1px solid gray;
}
.cal-body .day{
    text-align: center;
}
.grid-item {
    border: 1px solid gray; /* 셀 테두리 */
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
}
/* .page2 */
.page2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ccc; */
    height: 1000px;
    flex-wrap: nowrap;
}
.auto-pay-list{
    width: 500px;
    height: 800px;
    /* background-color: bisque; */
}
.pay-table{
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    height: 680px;
}
.pay-table td{
    border: 1px solid gray;
    /* height: 50px; */
}
.pay-table th{
    border: 1px solid gray;
    /* height: 50px; */
}
.budget{
    width: 700px;
    height: 800px;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
}
.budget h2, .auto-pay-list h2{
    text-align: center;
    height: 50px;
}
.budget-table{
    border-collapse: collapse;
    text-align: center;
    height: 250px;
}
.budget-table td{
    border: 1px solid gray;
    /* height: 50px; */
}
.budget-table th{
    border: 1px solid gray;
    /* height: 50px; */
}
/* .page3 */
.page3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    height: 800px;
}
.category-graph {
    text-align: center;
}
.category-graph, .monthly-graph{
    text-align: center;
    width: 600px;
    height: 700px;
}
/* 푸터 */
footer{
    background-color: #fdfdfd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li{
    display: inline;
    margin: 30px;
}