.login-container *{margin: 0; padding: 0; box-sizing: border-box;}
.login-container ul li{display: inline; margin: 10px; list-style: none;}
.login-container li a{white-space: nowrap; color:black; text-decoration: none;}
.login-container li a:hover{text-decoration: underline;}
.login-container button:hover{opacity: 0.5;}
/*---------------------------- 시작 */
.login-container {
  width: 1600px !important;
  margin: 20px auto !important;
  padding: 0 !important;
}
.page-container{
  width: 1600px;
  margin: 0 auto;
}
.header{
  position: relative;
  z-index: 10;
}
.header-top{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  position: relative;
}
.logo{
  position: absolute; /*부모 요소 헤더탑*/
  left: 50%;
}
.header-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 80px;
}
.contents{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.contents li{
  margin: 10px 100px;
}
.header-bottom-wrap{
  position: relative;
  z-index: 15;
}
.hidebar{
  background-color: white;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  height: 200px;
  display: none;
  justify-content: center;
  z-index: 20;
}
.header-bottom-wrap:hover .hidebar{
  display: flex;
}
.hidebar ul{
  margin: 20px 100px;
}
.hidebar ul li{
  display: block;
}
/* first page -------------------------------*/
.first-page{
  z-index: 1;
  padding: 100px 100px;
  background-color: black;
  width: 1600px;
  height: 800px;
}
.first-page-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  height: 600px;
  align-items: flex-start;
  gap: 20px;
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.search img{
  position: absolute;
  top: 50px;
  left: 330px;
  width: 50px;
  height: 50px;
  color:white;
}
.search input{
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 50px auto 100px auto;
  width: 600px;
  height: 50px;
  padding-left: 50px;
}
.image-slider{
  position: relative;
  width: 800px;
  height: 600px;
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
}
.first-page-content img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.button-wrap{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button-wrap button{
  width: 50px;
  height: 50px;
  font-size: 2em;
  background-color: rgba(0,0,0,0.5);
  color:white;
  border: none;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 600px;
}
.login-sec{
  width: 450px;
  height: 270px;
  background-color: #ccc;
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.login-sec input{
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
}
.login-sec button{
  display: block;
  width: 300px;
  height: 40px;
  background-color: gray;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
}
.login-sec ul{
  padding: 0px 30px;
}
.use-sec{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 250px;
  /* background-color: white; */
  border-radius: 20px;
}
.use-sec p{
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.use-boxes{
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.use-sec p{
  font-size: 1.3em;
}
.use-box{
  width: 120px;
  height: 120px;
  background-color: #e7e7e7;
  border-radius: 10px;
}
/* .second-page------------------------------- */
.second-page{
  padding: 0 100px;
  background-color: black;
  width: 1600px;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.second-page img{
  width: 600px;
  height: 400px;
}
.second-page-text{
  margin: 100px;
  margin-top: 200px;
  width: 500px;
  height: 400px;
  text-align: center;
  color: white;
}
.second-page h1{
  font-size: 2.5em;
}
.second-page p{
  font-size: 1.5em;
}
/* .third-page--------------------------------- */
.third-page{
  padding: 0 100px;
  background-color: black;
  width: 1600px;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.third-page img{
  width: 750px;
  height: 500px;
}
.third-page-text{
  width: 500px;
  height: 400px;
  text-align: center;
  color: white;
}
.third-page h1{
  font-size: 2.5em;
}
.third-page p{
  font-size: 1.5em;
}
/* footer----------- */
footer{
  background-color: #fdfdfd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
